@model IEnumerable<Final_Cordero_Raura.Models.Resena>

@{
    ViewData["Title"] = "Reseñas";
}

<h1>Últimas reseñas</h1>

<p>
    <a asp-action="Create">Publica tu reseña</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                Película
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.Raw(item.Texto)
            </td>
            <td>
                <img src="@item.Pelicula.Poster" alt="Poster de la película" width="100" height="150" />
                @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdResena">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdResena">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdResena">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
